[Unit]
Description=Object Detection Action Service
Wants=network-online.target
After=network-online.target

[Container]
Image=quay.io/luisarizmendi/object-detection-action:x86
AutoUpdate=registry
NetworkMode=host
Environment=ALERT_ENDPOINT="http://localhost:5005/alert"
Environment=ALIVE_ENDPOINT="http://localhost:5005/alive"
Environment=DETECTIONS_ENDPOINT="http://localhost:5000/current_detections"
Environment=CHECK_INTERVAL=1
Environment=ALERT_DURATION=5
Environment=RESET_CHECKS=3
Environment=ALIVE_INTERVAL=5

[Service]
Restart=always

[Install]
WantedBy=default.target


