<!--
<footer class="footer">
      <div class="navbar-item" align="left">
          <div class="user-inputs">
            <label for="gnumber">Group Number: </label><br/>
            <input type="text" id="gnumber" name="gnumber" placeholder="XX">
          </div>

          <div class="user-inputs">
            <label for="cdomain">Cluster Domain: </label><br/>
            <input type="text" id="cdomain" name="clusterdomain" placeholder="Your cluster domain..">
          </div>
          <div class="user-inputs">
            <label for="gitserver">Git Server (optional): </label><br/>
            <input type="text" id="gitserver" name="gitserver" placeholder="Your git server..">
          </div>

          <div >
            <button class="storage-btns" onclick="setNamesInStorage()">Save</button>
          </div>
          <div >
            <button class="storage-btns" onclick="clearStorage()">Clear</button>
          </div>
      </div>
    </div>
</footer>
  <style>
    label[for="gnumber"] {
      color: #000000;  
      /* font-weight: bold; */ 
    }
    input[type=text] {
      padding: 8px 12px;
      width: 100px;
      /* display: inline-block; */
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    input[type=text]:focus {
      outline: none !important;
      border: 2px solid #F5606D;
    }
    .user-inputs {
      flex: 1;
    }
    .user-inputs:first-child {
      /* margin-right: 30%; */
    }
    .user-inputs:input,label {
      font-size: 12px;
      display: block;
    }
    .storage-btns {
      font-size: 12px;
      margin: 10px;
      padding: 10px;
      cursor: pointer;
      background-color: #FAB6B6;
      color: black;
      border: 2px solid #FAB6B6; 
      width: 50px; 
      text-align: center;
    }
  </style>
-->